body{
	background-color: LightSkyBlue;
	text-align: center;
}

header{
	font-size: 45px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #333;
}

textarea{
	height: 79px;
	width: 160px;
	font-size: 13px;
}

#desc{
	font-size: 20px;
}

#log{
	height: 158px;
	width: 320px;
	margin-top: 0px;
	margin-bottom: 15px;
}

#about{
	margin-top: 25px;
	margin-bottom: -5px; 
}